* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  touch-action: none;
}

body {
  overflow: hidden;
  width: var(--ww);
  height: var(--wh);
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-canvas {
  outline: solid 1px #000;
}